/*  Start Box */
.d-flex {
    display: flex;
}
.f-column{
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
/* flex-component */
.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* flex-component */

/* End Box */

/* Start  Padding + Margin */
.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mb-5 {
    margin-bottom: 5px;
}
/* width */
.w-full {
    width: 100%;
}
/* width */
/* End Padding + Margin */
/* Start Color */
.bg-white {
    background-color: white;
}
.c-black {
    color: black;
}
.c-white {
    color: white;
}
/* End Color */
/* Start Position */
.p-relative {
    position: relative;
}
/* End Position */
/* start font */
.txt-c {
    text-align: center;
}
.fs-14 {
    font-size: 14px;
}
/* end font */
/* Start Border */
.rad-6 {
    border-radius: 6px;
}
/* End Border */
/* @media max-width: 767px */
@media (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
}
/* @media max-width: 767px */





