/*  Start Box */
.d-flex {
    display: flex;
}
.f-column{
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.flex-1 {
    flex: 1;
}
/* flex-component */
.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* flex-component */
.d-block {
    display: block;
}
/* Start Grid */
    .d-grid {
        display: grid;
    }
    .gap-20 {
        gap: 20;
    }
/* End Grid */
/* End Box */

/* Start  Padding + Margin */
.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-20 {
    padding-bottom: 20px;
}
.m-0 {
    margin: 0;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
/* End Padding + Margin */

/* width */
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
/* width */

/* =========height========= */
.h-5 {
    height: 5px;
}
/* =========height========= */
/* Start Color */
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-eee {
    background-color: #eee;
}
.c-black {
    color: black;
}
.c-white {
    color: white;
}
.c-grey {
    color: var(--grey-color)
}
/* End Color */
/* Start Position */
.p-relative {
    position: relative;
}
/* End Position */
/* start font */
.txt-c {
    text-align: center;
}
.txt-transform-cap {
    text-transform: capitalize;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-25 {
    font-size: 25px;
}
.fw-bold {
    font-weight: bold;
}
/* end font */
/* Start Border */
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
/* End Border */
/* @media max-width: 767px */
@media (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
}
@media (max-width: 767px){
        .text-c-mobile {
        text-align: center;
    }
}
/* @media max-width: 767px */
/* ===========opacity============ */
.half-opacity {
    opacity: 0.5;
}
/* ===========opacity============ */



