/*  Start Box */
.d-flex {
    display: flex;
}
/* End Box */
/* Start  Padding + Margin */
.p-20 {
    padding: 20px;
}
.m-20 {
    margin: 20px;
}
/* End Padding + Margin */
/* Start Color */
.bg-white {
    background-color: white;
}
/* End Color */
/* Start Position */
.p-relative {
    position: relative;
}
/* End Position */